<div>
<h3>Results</h3>

{{#each  allShoes}}
<div>
<span>{{this.color}}</span> <span>{{this.brand}}</span> <span>{{this.size}}</span>
 <span>{{this.price}}</span> <span>{{this.in_stock}}</span>
</div>
{{/each}}

</div>